
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Waterfall Series</title>
    <meta name="description" content="A collection of components that make it easy to build interactive charts with D3.">

    <script src="../../scripts.js"></script>

    <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../images/favicon-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="../../styles.css" />
    
  </head>
  <body>
    <div class="content">

      <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
              <a href="../../"><img class="navbar-logo" alt="d3fc" src="../../images/logo.svg" /></a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="../..#quick-start">Quick Start</a></li>
                <li class="active"><a href="../../components/introduction/1-getting-started.html">Documentation</a></li>
                <li class=""><a href="../../examples">Examples</a></li>
                <li class=""><a href="../../playground">Playground</a></li>
                <li><a href="https://github.com/ScottLogic/d3fc">GitHub</a></li>
              </ul>
            </div>
        </div>
      </nav>

      
<div class="container component">

  <div class="row">

    <div class="col-sm-9 col-xs-12">
      <h1>
        Waterfall Series
        
        <a href="https://github.com/ScottLogic/d3fc/blob/master/src/series/waterfall.js">View source on GitHub</a>
        
      </h1>

      <p>The <a href="https://en.wikipedia.org/wiki/Waterfall_chart">Waterfall series</a> renders the given data as a series of vertical bars, showing the cumulative effect of each bar. The series begins and ends with the total values.</p>
<p>All bars are classed with &#39;waterfall&#39;. Ascending and descending bars are classed with &#39;up&#39; and &#39;down&#39; respectively.</p>
<p>The data must be shaped using <code>fc.series.algorithm.waterfall()</code>. The new data has a <code>x</code> property specifying the x-location, <code>y0</code> and <code>y1</code> properties specifying the y0 and y1-locations respectively, and a <code>direction</code>. The algorithm assumes each object has an <code>x</code> property which defines its x-location, and a <code>y</code> property which defines its y-location. However, these can be changed via the <code>xValueKey</code> and <code>yValue</code> properties.</p>
<p>The first column can be declared as a total by using the <code>startsWithTotal</code> property. Other total columns can be inserted into the data by using the algorithm&#39;s <code>totals</code> property. For a given datapoint this property should return the x-location for the total bar to be inserted. If the <code>totals</code> are not specified a final total bar will be inserted by default.</p>
<pre><code class="language-js"><span class="keyword">var</span> data = [
  { month: <span class="string">'January'</span>, profit: <span class="number">4000</span> },  
  { month: <span class="string">'February'</span>, profit: <span class="number">2000</span> },
  { month: <span class="string">'March'</span>, profit: -<span class="number">1000</span> },
  { month: <span class="string">'April'</span>, profit: <span class="number">1500</span> },
  { month: <span class="string">'May'</span>, profit: <span class="number">100</span> },
  { month: <span class="string">'June'</span>, profit: <span class="number">500</span> },
  { month: <span class="string">'July'</span>, profit: -<span class="number">100</span> },
  { month: <span class="string">'August'</span>, profit: <span class="number">800</span> },
  { month: <span class="string">'September'</span>, profit: <span class="number">1200</span> },
  { month: <span class="string">'October'</span>, profit: <span class="number">1500</span> },
  { month: <span class="string">'November'</span>, profit: <span class="number">1400</span> },
  { month: <span class="string">'December'</span>, profit: <span class="number">2000</span> }
];

<span class="keyword">var</span> waterfallData = fc.series.algorithm.waterfall()
    .xValueKey(<span class="string">'month'</span>)
    .yValue(<span class="function"><span class="keyword">function</span><span class="params">(d)</span> {</span> <span class="keyword">return</span> d.profit; })
    .startsWithTotal(<span class="literal">true</span>)
    .total(<span class="function"><span class="keyword">function</span><span class="params">(d, i, data)</span> {</span>
        <span class="keyword">if</span> ((i + <span class="number">1</span>) % <span class="number">3</span> === <span class="number">0</span>) {
            <span class="keyword">return</span> <span class="string">'Q'</span> + ((i + <span class="number">1</span>) / <span class="number">3</span>) + <span class="string">' total'</span>;
        }
    })(data);

<span class="keyword">var</span> xScale = d3.scale.ordinal()
    .domain(waterfallData.map(<span class="function"><span class="keyword">function</span><span class="params">(d)</span> {</span> <span class="keyword">return</span> d.x; }))    
    .rangeRoundBands([<span class="number">0</span>, width], <span class="number">0.1</span>);
yScale.domain(fc.util.extent().fields(<span class="string">'y1'</span>).pad(<span class="number">0.2</span>).include(<span class="number">0</span>)(waterfallData));

<span class="keyword">var</span> waterfall = fc.series.waterfall()
    .xScale(xScale)
    .yScale(yScale);

container.append(<span class="string">'g'</span>)
    .datum(waterfallData)
    .call(waterfall);</code></pre>
<p>Which gives the following:</p>
<div class="text-right">
    <a href="../../playground/playground.html?example=components/series/waterfall">View in the Playground</a>
</div>


<p><div id="series-waterfall-js" class="chart"> </div></p>
<script type="text/javascript">
(function() {
    var desiredWidth = $('#series-waterfall-js').width(),
        desiredHeight = desiredWidth / 2.4; //keeps the width-height ratio at 600-250 (defaults for createFixture)
    var f = createFixture('#series-waterfall-js', desiredWidth, desiredHeight, null, function() { return true; });
    var container = f.container, data = f.data,
      xScale = f.xScale, yScale = f.yScale,
      height = f.dimensions.height, width = f.dimensions.width;

    var data = [
  { month: 'January', profit: 4000 },  
  { month: 'February', profit: 2000 },
  { month: 'March', profit: -1000 },
  { month: 'April', profit: 1500 },
  { month: 'May', profit: 100 },
  { month: 'June', profit: 500 },
  { month: 'July', profit: -100 },
  { month: 'August', profit: 800 },
  { month: 'September', profit: 1200 },
  { month: 'October', profit: 1500 },
  { month: 'November', profit: 1400 },
  { month: 'December', profit: 2000 }
];

var waterfallData = fc.series.algorithm.waterfall()
    .xValueKey('month')
    .yValue(function(d) { return d.profit; })
    .startsWithTotal(true)
    .total(function(d, i, data) {
        if ((i + 1) % 3 === 0) {
            return 'Q' + ((i + 1) / 3) + ' total';
        }
    })(data);

var xScale = d3.scale.ordinal()
    .domain(waterfallData.map(function(d) { return d.x; }))    
    .rangeRoundBands([0, width], 0.1);
yScale.domain(fc.util.extent().fields('y1').pad(0.2).include(0)(waterfallData));

var waterfall = fc.series.waterfall()
    .xScale(xScale)
    .yScale(yScale);

container.append('g')
    .datum(waterfallData)
    .call(waterfall);

}());
</script>


<p>The data that identifies the x-value is identified via the <code>xValueKey</code> property.</p>
<p>This series has the same <code>yValue</code> and <code>decorate</code> properties as the <a href="./point">point series</a>. You can also specify the width of the bars via the <code>barWidth</code> property.</p>
<p>The waterfall series supports horizontal display, using the <code>orient</code> property, similar to <a href="./bar">bar</a>.</p>


      <nav class="visible-xs-block">
        <ul class="pager">
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                    <li class="previous"><a href="stacked.html"><span aria-hidden="true">&larr;</span> Stacked Series</a></li>
                  
                  
                
                  
                  
                
                  
                  
                    <li class="next"><a href="../svg/axis.html">Axis <span aria-hidden="true">&rarr;</span></a></li>
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        </ul>
      </nav>
    </div>

    <nav class="col-sm-3 hidden-xs">
      <ul class="nav nav-stacked fixed nav-sidebar">
        
          <li>
            
              
                <h4>Introduction</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../introduction/1-getting-started.html">
                        Getting Started
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../introduction/2-decorate-pattern.html">
                        Decorate Pattern
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../introduction/3-transitions.html">
                        Transitions
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../introduction/4-component-design.html">
                        Component Design
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
                <h4>Chart</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../chart/cartesian.html">
                        Cartesian
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../chart/legend.html">
                        Legend
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../chart/small-multiples.html">
                        Small Multiples
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../chart/sparkline.html">
                        Sparkline
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../chart/tooltip.html">
                        Tooltip
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
                <h4>Series</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="area.html">
                        Area Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="bar.html">
                        Bar Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="candlestick.html">
                        Candlestick Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="cycle.html">
                        Cycle Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="errorBar.html">
                        Error Bar Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="grouped-bar.html">
                        Grouped Bar Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="line.html">
                        Line Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="multi.html">
                        Multi Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="ohlc.html">
                        OHLC Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="point.html">
                        Point Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="stacked.html">
                        Stacked Series
                      </a>
                    </li>
                
              
                
                    <li class="active">
                      <a href="waterfall.html">
                        Waterfall Series
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
                <h4>Indicators</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../indicator/bollingerBands.html">
                        Bollinger Bands
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/elderRay.html">
                        Elder Ray
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/envelope.html">
                        Envelope
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/exponentialMovingAverage.html">
                        Exponential Moving Average
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/forceIndex.html">
                        Force Index
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/macd.html">
                        MACD
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/movingAverage.html">
                        Moving Average
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/relativeStrengthIndicator.html">
                        Relative Strength Index
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/stochasticOscillator.html">
                        Stochastic Oscillator
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Scale</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../scale/dateTime.html">
                        Date Time Scale
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>SVG</h4>
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../svg/axis.html">
                        Axis
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
                <h4>Annotations</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
                    <li class="">
                      <a href="../annotation/band.html">
                        Band
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../annotation/line.html">
                        Line
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../annotation/gridlines.html">
                        Gridlines
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Tools</h4>
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../tool/container.html">
                        Container
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../tool/crosshair.html">
                        Crosshair
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Layout</h4>
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../layout/flexbox.html">
                        Flexbox
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../layout/rectangles.html">
                        Rectangles
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Util</h4>
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../util/extent.html">
                        Extent
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Data</h4>
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../data/coinbase.html">
                        Coinbase
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/financial.html">
                        Random Financial
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/quandl.html">
                        Quandl
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/spread.html">
                        Spread
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/walk.html">
                        Random Walk
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Samplers</h4>
              
            
            <ul class="nav nav-stacked">
              
                
                    <li class="">
                      <a href="../sampler/modeMedian.html">
                        Mode Median
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../sampler/largestTriangleOne.html">
                        Largest Triangle 1 Bucket
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../sampler/largestTriangleThreeBucket.html">
                        Largest Triangle 3 Buckets
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
      </ul>
    </nav>

  </div>

</div>


    </div>
    <footer>
      <div class="container">
        <p class="muted credit text-center">Project supported by <a href="http://www.scottlogic.com">Scott Logic</a>.</p>
        <p class="muted credit text-center">Browser testing provided by <a class="browserstack" href="https://browserstack.com">BrowserStack</a>.</p>
      </div>
    </footer>

    
    
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
