
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Legend</title>
    <meta name="description" content="A collection of components that make it easy to build interactive charts with D3.">

    <script src="../../scripts.js"></script>

    <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../images/favicon-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="../../styles.css" />
    
  </head>
  <body>
    <div class="content">

      <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
              <a href="../../"><img class="navbar-logo" alt="d3fc" src="../../images/logo.svg" /></a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="../..#quick-start">Quick Start</a></li>
                <li class="active"><a href="../../components/introduction/1-getting-started.html">Documentation</a></li>
                <li class=""><a href="../../examples">Examples</a></li>
                <li class=""><a href="../../playground">Playground</a></li>
                <li><a href="https://github.com/ScottLogic/d3fc">GitHub</a></li>
              </ul>
            </div>
        </div>
      </nav>

      
<div class="container component">

  <div class="row">

    <div class="col-sm-9 col-xs-12">
      <h1>
        Legend
        
      </h1>

      <style>
.container>rect {
  fill: white;
  stroke: #bbb;
}
</style>

<p>Rather than write our own d3fc legend, we discovered that someone had already <a href="http://d3-legend.susielu.com">created a pretty awesome one</a>, so we decided to integrate that one instead! This project uses the <code>d3-svg-legend</code>, component which is included in the d3fc bundle.</p>
<p>The d3-legend doesn&#39;t render a background, although this can easily be added via the <a href="/components/tool/container.html">container component</a>.</p>
<p>The d3-legend is constructed from a scale as shown below:</p>
<pre><code class="language-js"><span class="comment">// create a scale</span>
<span class="keyword">var</span> color = d3.scale.category10()
  .domain([<span class="string">'Cat'</span>, <span class="string">'Dog'</span>, <span class="string">'Fish'</span>]);

<span class="comment">// construct a legend for this scale</span>
<span class="keyword">var</span> legend = d3.legend.color()
  .scale(color);

<span class="comment">// create a container</span>
<span class="keyword">var</span> legendContainer = fc.tool.container()
    .padding(<span class="number">5</span>)
    .component(legend);

<span class="comment">// create an SVG container</span>
<span class="keyword">var</span> width = <span class="number">60</span>, height = <span class="number">60</span>;
<span class="keyword">var</span> svg = d3.select(<span class="string">'#legend'</span>)
    .append(<span class="string">'svg'</span>)
    .attr(<span class="string">'width'</span>, width)
    .attr(<span class="string">'height'</span>, height);

<span class="comment">// render</span>
svg.call(legendContainer);</code></pre>
<p><div id="legend"></div></p>
<script type="text/javascript">
(function() {
    // create a scale
var color = d3.scale.category10()
  .domain(['Cat', 'Dog', 'Fish']);

// construct a legend for this scale
var legend = d3.legend.color()
  .scale(color);

// create a container
var legendContainer = fc.tool.container()
    .padding(5)
    .component(legend);

// create an SVG container
var width = 60, height = 60;
var svg = d3.select('#legend')
    .append('svg')
    .attr('width', width)
    .attr('height', height);

// render
svg.call(legendContainer);

}());
</script>

<p>For further details regarding the extensive API of this component, consult the <a href="http://d3-legend.susielu.com">project homepage</a>.</p>


      <nav class="visible-xs-block">
        <ul class="pager">
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                    <li class="previous"><a href="cartesian.html"><span aria-hidden="true">&larr;</span> Cartesian</a></li>
                  
                  
                
                  
                  
                
                  
                  
                    <li class="next"><a href="small-multiples.html">Small Multiples <span aria-hidden="true">&rarr;</span></a></li>
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        </ul>
      </nav>
    </div>

    <nav class="col-sm-3 hidden-xs">
      <ul class="nav nav-stacked fixed nav-sidebar">
        
          <li>
            
              
                <h4>Introduction</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../introduction/1-getting-started.html">
                        Getting Started
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../introduction/2-decorate-pattern.html">
                        Decorate Pattern
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../introduction/3-transitions.html">
                        Transitions
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../introduction/4-component-design.html">
                        Component Design
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
                <h4>Chart</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="cartesian.html">
                        Cartesian
                      </a>
                    </li>
                
              
                
                    <li class="active">
                      <a href="legend.html">
                        Legend
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="small-multiples.html">
                        Small Multiples
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="sparkline.html">
                        Sparkline
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="tooltip.html">
                        Tooltip
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
                <h4>Series</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../series/area.html">
                        Area Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/bar.html">
                        Bar Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/candlestick.html">
                        Candlestick Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/cycle.html">
                        Cycle Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/errorBar.html">
                        Error Bar Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/grouped-bar.html">
                        Grouped Bar Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/line.html">
                        Line Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/multi.html">
                        Multi Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/ohlc.html">
                        OHLC Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/point.html">
                        Point Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/stacked.html">
                        Stacked Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/waterfall.html">
                        Waterfall Series
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
                <h4>Indicators</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../indicator/bollingerBands.html">
                        Bollinger Bands
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/elderRay.html">
                        Elder Ray
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/envelope.html">
                        Envelope
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/exponentialMovingAverage.html">
                        Exponential Moving Average
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/forceIndex.html">
                        Force Index
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/macd.html">
                        MACD
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/movingAverage.html">
                        Moving Average
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/relativeStrengthIndicator.html">
                        Relative Strength Index
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/stochasticOscillator.html">
                        Stochastic Oscillator
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Scale</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../scale/dateTime.html">
                        Date Time Scale
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>SVG</h4>
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../svg/axis.html">
                        Axis
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
                <h4>Annotations</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
                    <li class="">
                      <a href="../annotation/band.html">
                        Band
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../annotation/line.html">
                        Line
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../annotation/gridlines.html">
                        Gridlines
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Tools</h4>
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../tool/container.html">
                        Container
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../tool/crosshair.html">
                        Crosshair
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Layout</h4>
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../layout/flexbox.html">
                        Flexbox
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../layout/rectangles.html">
                        Rectangles
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Util</h4>
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../util/extent.html">
                        Extent
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Data</h4>
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../data/coinbase.html">
                        Coinbase
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/financial.html">
                        Random Financial
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/quandl.html">
                        Quandl
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/spread.html">
                        Spread
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/walk.html">
                        Random Walk
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Samplers</h4>
              
            
            <ul class="nav nav-stacked">
              
                
                    <li class="">
                      <a href="../sampler/modeMedian.html">
                        Mode Median
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../sampler/largestTriangleOne.html">
                        Largest Triangle 1 Bucket
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../sampler/largestTriangleThreeBucket.html">
                        Largest Triangle 3 Buckets
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
      </ul>
    </nav>

  </div>

</div>


    </div>
    <footer>
      <div class="container">
        <p class="muted credit text-center">Project supported by <a href="http://www.scottlogic.com">Scott Logic</a>.</p>
        <p class="muted credit text-center">Browser testing provided by <a class="browserstack" href="https://browserstack.com">BrowserStack</a>.</p>
      </div>
    </footer>

    
    
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
